<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark success-grad">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" style="color:white;" [routerLink]="['/home']">DSProject</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/movies']" mdbWavesEffect>Movies</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['/actors']" mdbWavesEffect>Actors</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="sesionValida()"  class="nav-link waves-light" mdbWavesEffect [routerLink]="['/profile']">Profile</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="sesionValida()"  class="nav-link waves-light" mdbWavesEffect (click)="desconectar()">Disconnect</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a *ngIf="!sesionValida()" class="nav-link waves-light" [routerLink]="['/login']" mdbWavesEffect>Log In</a>
            </li>
        </ul>
        <!-- Links -->
        <h4><b>Autores: </b> Oliver Aton, Pablito el chocolatero y Felix el Gato</h4>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
