<h1 style="text-align:center;"> Movies </h1>
<div class="searchInputFields container">
  <div class="row">
    <input type="text" class="form-control mb-4 mr-3" style="width: 250px;" placeholder="Title" name="fname" #filterInput>
    <select id="genresID" class="form-control mb-4 mr-3" style="width: 150px;">
      <option>Genre</option>
      <option #genreValue *ngFor="let genre of genres;">{{ genre }}</option>
    </select>
    <select id="yearsID" class="form-control mb-4 mr-3" style="width: 150px;">
      <option>Year</option>
      <option #genreValue *ngFor="let year of years;">{{ year }}</option>
    </select>
    <select id="actorsID" class="form-control mb-4 mr-3" style="width: 200px;">
      <option>Actor</option>
      <option #genreValue *ngFor="let actor of actors;">{{ actor }}</option>
    </select>
    <select id="imdbratingID" class="form-control mb-4 mr-3" style="width: 150px;">
      <option>IMDBRating</option>
      <option #genreValue *ngFor="let imdR of imdbRatings;">{{ imdR }}</option>
    </select>
    <a mdbBtn style="margin-top: 0px;" class="buttonFilters" gradient="purple" mdbWavesEffect (click)="applyFilter(filterInput.value)">Filter</a>
  </div>
</div>
<hr>

<div class="container">
  <div class="card-columns">

    <div class="card" *ngFor="let movie of movies;">
      <img class="card-img-top" style="height: 371px;" [src]="movie.posterurl" [alt]="movie.title">

      <div class="card-body">
        <p class="h6"> {{ movie.title }} </p>
        <div class="row">
          <a [routerLink]="['/movie', movie._id]" mdbBtn gradient="purple" rounded="true" class="rounded"
            mdbWavesEffect>More</a>
          <a *ngIf="sesionValida()" class="btn peach-gradient rounded" (click)="addLike(movie._id,movie.title)">Like</a>
        </div>
      </div>
    </div>
  </div>
</div>